# ZCIF configuration

# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_middleware.wireless.zigbee.zcif_hf
    bool
    depends on MCUX_COMPONENT_middleware.wireless.zigbee.coprocessor

config MCUX_COMPONENT_middleware.wireless.zigbee.zcif
    bool
    depends on MCUX_COMPONENT_middleware.wireless.zigbee.coordinator \
        || MCUX_COMPONENT_middleware.wireless.zigbee.enddevice_rx_off \
        || MCUX_COMPONENT_middleware.wireless.zigbee.enddevice_rx_on \
        || MCUX_COMPONENT_middleware.wireless.zigbee.router
    help
      Zigbee module providing APIs to handle Cluster support

