# Tools configuration

# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_middleware.wireless.zigbee.tools
    bool
    depends on MCUX_COMPONENT_middleware.wireless.zigbee.coordinator \
        || MCUX_COMPONENT_middleware.wireless.zigbee.enddevice_rx_off \
        || MCUX_COMPONENT_middleware.wireless.zigbee.enddevice_rx_on \
        || MCUX_COMPONENT_middleware.wireless.zigbee.router \
        || MCUX_COMPONENT_middleware.wireless.zigbee.coprocessor
    help
      Zigbee module providing tools to configure zigbee capabilities


